@charset "UTF-8";
/* CSS Document */
/*---------------------------------------------------*/
/*スマホ用cssタイトル*/
@media screen and (max-width:479px) {
    .news-title {
        padding: 150px 0 0 20px;
    }
}

@media screen and (max-width:479px) {
    .news-title h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:479px) {
    .news-title h4 {
        padding-bottom: 20px;
    }
}

@media screen and (max-width:479px) {
    .news-title p {
        font-size: 20px;
    }
}
/*---------------------------------------------------*/
/*PC用cssタイトル*/
@media screen and (min-width:480px) {
    .news-title {
        padding: 200px 100px 50px 100px;
    }
}

@media screen and (min-width:480px) {
    .news-title h2 {
        font-size: 45px;
    }
}

@media screen and (min-width:480px) {
    .news-title h4 {
        padding: 0 0 20px 0;
        font-size: 30px;
    }
}

@media screen and (min-width:480px) {
    .news-title p {
        padding: 0 0 30px 20px;
        font-size: 22px;
    }
}
/*---------------------------------------------------*/
/*スマホ用cssお知らせ*/
@media screen and (max-width:479px) {
    .news-container {
        background-color: #EFEFEF;
        padding: 50px 20px;
    }
}

@media screen and (max-width:479px) {
    .news-container h2 {
        text-align: center;
        color: #2F536C;
        font-size: 26px;
    }
}

@media screen and (max-width:479px) {
    .news-container p {
        padding-top: 30px;
        margin: 0 10px;
    }
}

@media screen and (max-width:479px) {
    .news-image {
        padding: 20px 0 0 0;
        text-align: center;
    }
}

@media screen and (max-width:479px) {
    .news-image img {
        max-width: 100%;
        box-sizing: border-box;
    }
}
/*---------------------------------------------------*/
/*PC用cssお知らせ*/
@media screen and (min-width:480px) {
    .news-contents {
        margin: 50px 0 0 150px;
        width: 60%;
    }
    
    .news-contents h3 {
        background-color: #93BB00;
        padding: 10px 10px;
        color: #FFFFFF;
        
    }
    
    .news-contents p {
        font-size: 15px;
        width: 60%;
    }
    
    .news-contents .date {
        margin: 0;
        min-width: 140px;
        font-size: 16px;
        color: #808080;
        padding: 20px 20px 20px 0;
    }
    
    .news-contents .text {
        margin: 0;
        font-size: 15px;
        float: left;
    }
    
    .news-contents img {
        width: 35%;
        padding-left: 20px;
        margin-bottom: 200px;
    }
}